/*------- INDEX ------*/

html {
    font-size: 62.5%;

}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

.imagenUno {
    width: 14.90rem;
    height: 45rem;
}

header h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    margin-top: 6rem;
}

div div p {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1.2rem;
}

div div h3 {
    text-align: center;
    font-size: 2rem;
}

.navBar {
    padding: 1rem;
    margin: 0.6rem 3rem 1rem 3rem;
    font-size: 1.8rem;
}

i {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.navbEspecial {
    padding: 10px;
    margin: 15px;
}

.cardPromo {
    text-align: center;
    padding: 0px;
    margin: 37px
}





.imGnav {
    margin-top: 1rem;
    margin-bottom: 3.1rem;
}

svg {
    width: 55px;

}

.carousel-inner img {
    width: 100%;
    max-height: 500px;
}

.carousel-inner {
    height: 500px;
}

footer h6 {
    font-size: 15px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}


/* aca metemos pagina calcula*/

.subTcal {
    text-align: center;
    color: rgb(70, 137, 232);
    margin: 10px;

}

.titCal {
    text-align: center;
    margin: 0px;
    font-weight: bold;
}

.calH1 {
    font-size: 35px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.sectionA {
    height: 30pc;
    width: 33pc;
}

.porqueMsj {
    text-align: justify;
    margin-top: 4.5rem;
    margin-bottom: 13rem;
}



div div img {
    height: 45rem;
}

section div img {
    width: 16rem;
    height: 25rem;
}