/* ESTILOS GENERALES */

html {
    font-size: 62.5%;

}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

/* ESTILOS NAVBAR */

.imGnav {
    margin-top: 1rem;
    margin-bottom: 3.1rem;
}

.navBar {
    padding: 1rem;
    margin: 0.6rem 3rem 1rem 3rem;
    font-size: 1.8rem;
}

/* ESTILOS HEADER*/

header h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    margin-top: 6rem;
}

/* ESTILOS CARROUSEL*/

footer h6 {
    font-size: 15px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

/* ESTILOS SERVICIOS */

.porqueMsj {
    text-align: justify;
    margin-top: 4.5rem;
    margin-bottom: 13rem;
}

.parrServ {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1.2rem;
}

.hdosServ {
    text-align: center;
    font-size: 2rem;
}

i {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}


/* ESTILOS CARDS LINEA DE 4 Y LINEA DE 2 */

.cardPromo {
    text-align: center;
    padding: 0px;
    margin: 37px
}

div div img {
    height: 45rem;
}

/*ESTILOS CARD LINEA DE 4*/

section div img {
    width: 16rem;
    height: 25rem;
}



/* ESTILOS DESARROLLOS HTML */

.subTcal {
    text-align: center;
    color: rgb(70, 137, 232);
    margin: 0.5rem;

}

.titCal {
    text-align: center;
    font-weight: bold;
}

.calH1 {
    font-size: 35px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.sectionA {
    height: 30pc;
    width: 33pc;
}

/* ESTILOS CARD DESARROLLOS */


.carDdesa {
    text-align: center;
    padding: 0px;
    margin: 4rem;

}

.preCio {
    font-weight: bold;
    font-size: 2.2rem;
    margin: 0.5rem;
}

.tiPs {
    justify-content: center;
}


.titTips {
    margin-bottom: 4.5rem;
    margin-top: 10rem;
}


.cardTips {

    padding: 1.3rem;
    margin-bottom: 1rem;
}

/* ESTILOS DE HIPOTECA HTML */

.headHipo {
    text-align: center;
}

.nuestProce {

    padding: 1.3rem;
    margin-bottom: 1rem;
}

.titNuepro {
    margin-bottom: 4.5rem;
    margin-top: 10rem;
}

.tideCredhipo{ /* tipos de creditos hipotecarios*/
    text-align: justify;
    margin-top: 15rem;
    margin-bottom: 6rem;
}